<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>shujuku</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>QueryScoreServlet</display-name>
    <servlet-name>QueryScoreServlet</servlet-name>
    <servlet-class>cn.yubo.web.servlet.QueryScoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryScoreServlet</servlet-name>
    <url-pattern>/queryScore</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>XiuServlet</display-name>
    <servlet-name>XiuServlet</servlet-name>
    <servlet-class>cn.yubo.web.servlet.XiuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XiuServlet</servlet-name>
    <url-pattern>/xiu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddServlet</display-name>
    <servlet-name>AddServlet</servlet-name>
    <servlet-class>cn.yubo.web.servlet.AddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddServlet</servlet-name>
    <url-pattern>/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteServlet</display-name>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>cn.yubo.web.servlet.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CountByStuServlet</display-name>
    <servlet-name>CountByStuServlet</servlet-name>
    <servlet-class>cn.yubo.web.servlet.CountByStuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CountByStuServlet</servlet-name>
    <url-pattern>/countByStu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubmitTotalScoreServlet</display-name>
    <servlet-name>SubmitTotalScoreServlet</servlet-name>
    <servlet-class>cn.yubo.web.servlet.SubmitTotalScoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitTotalScoreServlet</servlet-name>
    <url-pattern>/submitTotalScore</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CountByClassServlet</display-name>
    <servlet-name>CountByClassServlet</servlet-name>
    <servlet-class>cn.yubo.web.servlet.CountByClassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CountByClassServlet</servlet-name>
    <url-pattern>/countByClass</url-pattern>
  </servlet-mapping>
</web-app>